.container {
display:flex;
flex-direction:column;
width:20vw;
margin-left:10px;
margin-bottom:10px;

padding:50px;
border:2px solid black;
}

.imgContainer {
    width:20vw;
    height:100px;
    background-size: 20vw 100px !important;
    border:2px solid black;
}